<table class="table table-hover">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Absolute Magnitude</th>
        <th scope="col">Estimated Diameter</th>
        <th scope="col">Hazardous</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asteroid of asteroids; let i=index;">
        <th>{{i + 1}}</th>
        <th scope="row">{{asteroid.id}}</th>
        <td>{{asteroid.name}}</td>
        <td>{{asteroid.absolute_magnitude_h}}</td>
        <td>{{asteroid.estimated_diameter?.kilometers?.estimated_diameter_max}} km</td>
        <td>{{(asteroid.isHazardous ? 'Yes' : 'No')}}</td>
      </tr>
    </tbody>
  </table>

  